---
import { PROJECTS, CATEGORIES } from "../../../data/projects.js";
import ProjectCard from "../../../components/ProjectCard.astro";
// Crearemos este componente a continuación
import FilterTabs from "../../../components/ui/FilterTabs.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Mis Proyectos" description="prueba">
  <div class="py-24 px-6 md:px-8">
    <header class="text-center max-w-2xl mx-auto mb-12">
      <h1 class="font-primary text-5xl text-primary">Todos mis Proyectos</h1>
      <p class="font-secondary mt-4 text-primary">
        Explora los diferentes trabajos que he realizado, filtrando por
        categoría.
      </p>
    </header>

    <FilterTabs categories={Object.values(CATEGORIES)} client:load />

    <div
      id="projects-list"
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-7xl mx-auto mt-12"
    >
      {
        PROJECTS.map((project) => (
          <div
            class="project-wrapper"
            data-categories={project.categories.map((cat) => cat.id).join(",")}
          >
            <ProjectCard project={project} size="large" />
          </div>
        ))
      }
    </div>
  </div>
</Layout>
