* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    background-color: #cecece;
    font-family: Helvetica, Arial, sans-serif !important;
}

table {
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
    max-width: 600px;
    margin: auto;
    background-color: #FCFCFC;
}

p,
h1,
hr,
h2,
h5 {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 150%;
    color: #4E4B66;
    font-family: Helvetica, Arial, sans-serif !important;
}

p {
    font-size: 14px;
}

span {
    color: #14142B;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    color: #14142B;
}

h5 {
    font-size: 14px;
    font-weight: bold;
    color: #14142B;
    text-align: center;
}

strong {
    font-weight: bold;
    color: #14142B;
}

img {
    height: auto;
}

.add-padding {
    padding: 20px 31px 40px;
}

.logo,
.logo-badge-container img {
    width: 150px;
    height: auto;
}

.logo-container,
.bg-gradient,
.support-container {
    padding: 20px 31px;
}

.button {
    width: 100%;
    background-color: #6630FF;
    text-decoration: none !important;
    color: #FCFCFC !important;
    padding: 11px 0;
    display: block;
    text-align: center;
    border-radius: 100px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}

.button img {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    vertical-align: middle;
}

.bg-gradient {
    background-color: #6630FF;
    background: linear-gradient(108deg, #6630FF 60.17%, #44307D 110.45%);
}

.title-bg-gradient {
    color: #FCFCFC;
    font-weight: bold;
    font-size: 24px;
}

.card {
    display: block;
    margin: auto 31px;
    padding: 30px 35px;
    flex-direction: column;
    background-color: #FCFCFC;
    border-radius: 10px;
    border: 1px solid #D9DBE9;
    margin-top: 20px;
    box-shadow: -32px 149px 43px 0px #14142c00, -20px 95px 39px 0px #14142c03, -11px 54px 33px 0px #14142c0a, -5px 24px 24px 0px #14142c0a, -1px 6px 13px 0px #14142c0d;
}

.card p {
    font-size: 16px;
    margin-bottom: 20px;
}

.last-text {
    margin-bottom: 0px !important;
}

.title-card {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #6630FF;
}

.info-card-container {
    background-color: #EFF0F6;
    border-radius: 5px;
    padding: 15px 25px;
    margin-bottom: 20px;
}

.info-card-container hr {
    margin: 15px auto;
}

.label {
    color: #4E4B66;
}

.value {
    font-size: 14px;
    font-weight: bold;
}

.otp-code {
    display: block;
    width: 100%;
    padding: 25px 15px;
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #EFF0F6;
}

.notification-message {
    display: block;
    padding: 15px 25px;
    background-color: #FFEFE4;
    color: #FF8C40;
    font-weight: bold;
    font-size: 14px;
    line-height: 170%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.notification-message img {
    display: block;
    float: left;
    margin-right: 15px;
    width: 20px;
}

.link {
    color: #6630FF !important;
    text-decoration: underline;
}

.purple-strong {
    color: #6630FF;
}

.badge {
    background-color: #D9DBE9;
    color: #4E4B66 !important;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 10px;
    width: fit-content;
    margin-top: 5px;
}

.coopcentral-section {
    margin: 0 31px;
    display: block;
}

.coopcentral-section hr {
    margin-bottom: 20px;
}

.coopcentral-section h5 {
    margin-bottom: 20px;
}

.coopcentral-section img {
    display: block;
    width: 170px;
    margin-bottom: 20px;
}

.info-coopcentral {
    font-size: 12px;
    margin-bottom: 10px;
}

.info-coopcentral a {
    color: #14142B;
    font-weight: bold;
    text-decoration: underline;
}

.extra-info {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.table-app-stores {
    width: 50%;
}

.app-stores a {
    display: block;
    width: 120px;
    height: 40px;
}

.app-stores img {
    width: 100%;
}

.separator {
    color: #A0A3BD;
    margin-bottom: 20px;
    width: 100%;
}

.support-container {
    padding: 20px 31px 10px;
}

.text-support {
    width: 55%;
}

.text-support h2,
.text-support p {
    margin-bottom: 10px;
}

.social-media {
    vertical-align: top;
}

.social-media a {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 0;
    margin-left: 10px;
}

.social-media img {
    width: 25px;
}

.footer-container {
    padding: 0 31px 20px;
}

.footer-info {
    font-size: 12px;
    text-align: center;
}

.footer-info a {
    color: #4E4B66;
}

@media screen and (max-width: 500px) {

    .logo-container,
    .bg-gradient,
    .support-container {
        padding: 20px 25px;
    }

    .support-container {
        padding: 20px 25px 10px;
    }

    .coopcentral-section {
        margin: 0 25px;
    }

    .button {
        font-size: 16px;
    }

    .button img {
        width: 20px;
        height: 20px;
        margin-left: 5px;
    }

    .card {
        margin: auto 25px;
        padding: 20px 25px;
        margin-top: 20px;
    }

    .otp-code {
        font-size: 22px;
        letter-spacing: 10px;
    }

    .title-card {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .logo-badge-container {
        width: 100%;

        text-align: center;
        display: block;
        float: left;
        clear: both;
        margin-bottom: 20px;
    }

    .app-stores img,
    .app-stores a {
        width: 115px;
        height: 38px;
    }

    .badge {
        margin: 0 auto;
    }

    .table-app-stores {
        width: fit-content;
        display: block;
        margin: auto;
    }

    .play-store {
        margin-left: 10px;
    }

    .add-padding {
        padding: 30px 25px 40px;
    }

    .text-support {
        width: 100%;
        display: block;
        float: left;
        clear: both;
        margin-bottom: 10px;
    }

    .social-media {
        display: block;
        margin: auto;
        text-align: left;
    }

    .social-media a {
        margin-left: 0;
        margin-right: 10px;
    }

    .footer-container {
        padding: 0 25px 20px;
    }

    .extra-info {
        margin-top: 30px;
    }
}

@media screen and (max-width: 350px) {

    .logo-container,
    .bg-gradient,
    .support-container {
        padding: 15px;
    }

    .logo,
    .logo-badge-container img {
        width: 135px;
    }

    .title-bg-gradient {
        font-size: 18px;
    }

    .card {
        padding: 20px;
        margin: 15px;
    }

    .button img {
        display: none;
    }

    .extra-info {
        margin: 5px 0 10px;
        padding: 0 15px;
    }

    .add-padding {
        padding: 10px 15px 40px;
    }

    .coopcentral-section {
        margin: 0 15px;
    }

    .footer-container {
        padding: 0 15px 20px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .bg-gradient {
        background-color: #6630FF;
        background: linear-gradient(108deg, #6630FF 60.17%, #44307D 110.45%);
    }
}