---
import Layout from '../layouts/Layout.astro';
import HeroAnimation from '../components/HeroAnimation.astro';
---

<Layout title="Portafolio de [Tu Nombre]">
	<main>
		<div id="hero-container">
			<HeroAnimation />
		</div>

		<section id="skills-section">
			<div>
				<h1>Mis Habilidades</h1>
				<p>Aquí puedes poner tus skills, proyectos, etc.</p>
        </div>
		</section>
	</main>
</Layout>