---
import ArrowIcon from "@/icons/Arrow.astro";

interface Props {
    defaultPath?: string;
    info: string;
    className?: string;
}

const { defaultPath = "/", info, className = "" } = Astro.props;
---

<a
    href={defaultPath}
    id="smart-back-button"
    data-default-path={defaultPath}
    class={`hidden text-xs md:text-sm relative font-secondary text-primary hover:text-primary-hover transition-colors font-bold w-fit group ${className}`}
>
    <ArrowIcon
        class="scale-[-1] w-4 h-4 transition-all group-hover:-translate-x-1"
    />
    {info}
</a>

<script>
    document.addEventListener("astro:page-load", () => {
        const backButton = document.getElementById("smart-back-button");

        if (backButton) {
            backButton.addEventListener("click", (e) => {
                e.preventDefault();

                const defaultPath =
                    backButton.getAttribute("data-default-path") || "/";

                const hasHistory = window.history.length > 1;
                const comesFromSameSite =
                    document.referrer &&
                    new URL(document.referrer).origin ===
                        window.location.origin;

                if (hasHistory && comesFromSameSite) {
                    window.history.back();
                } else {
                    window.location.href = defaultPath;
                }
            });
        }
    });
</script>
<style>
    #smart-back-button {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
    }

    #smart-back-button:before {
        content: "";
        width: 0;
        height: 2px;
        background-color: var(--color-primary);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: width 0.3s ease-out;
    }

    #smart-back-button:hover:before {
        width: 100%;
    }
</style>
