---
import ProjectCard from "@/components/ProjectCard.astro";

interface Props {
  projects: any[],
  categories: object,
  lang?: string
  isHome?: boolean
}

const { projects, categories, lang, isHome } = Astro.props;
const lastItems = projects.length < 6
---

<div class:list={[
    "grid-parent",
    { "is-compact": lastItems },
    isHome ? "hidden md:grid grid-flow-row-dense" : "grid grid-flow-row-dense"
  ]}>
  {
    projects.map((project, index) => 
      <ProjectCard
          {project}
          {lang}
          {categories}
          {index}
          isLarge={index === 0 || index === 5}
          className={!lastItems ? `item${index + 1}` : ''}
        />
    )
  }
</div>
