---
import Pill from "@/components/ui/Pill.astro";

import IconDesign from "@/icons/IconDesign.astro";
import IconFrontend from "@/icons/IconFrontend.astro";
import IconCms from "@/icons/IconCms.astro";
import IconBranch from "@/icons/IconBranch.astro";
import IconDeploy from "@/icons/IconDeploy.astro";
import IconCollaboration from "@/icons/IconCollaboration.astro";

const icons = {
  IconDesign,
  IconFrontend,
  IconCms,
  IconBranch,
  IconDeploy,
  IconCollaboration,
};

const { category } = Astro.props;
const IconComponent = icons[category.icon];
---

<header class="flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4">
  {IconComponent && <IconComponent class="w-8 h-8 text-secondary" />}
  <h3 class="font-primary text-lg sm:text-xl uppercase tracking-wider">
    {category.title}
  </h3>
</header>
<p class="font-secondary text-sm xs:text-base sm:text-md md:text-lg">{category.description}</p>
<div class="flex flex-wrap gap-2 sm:gap-2">
  {category.pills.map((pillLabel, index) => <Pill label={pillLabel} {index} />)}
</div>
