---
interface Props {
  id: string;
  color?: "primary" | "secondary";
  className?: string;
  border?: boolean;
  secondChild?: boolean;
  secondId?: string;
  threshold?: string
}

const {
  id,
  color = "secondary",
  className,
  border = true,
  secondChild = false,
  secondId,
  threshold
} = Astro.props;

const containerBase =
  "w-full px-6 md:px-8 py-15 md:py-20 flex flex-col gap-10";
const colorClasses =
  color === "primary"
    ? "bg-textured-primary text-secondary"
    : "bg-secondary text-primary";

const borderClass = border
  ? color === "primary"
    ? "p-6 md:p-10 lg:p-12 border-secondary/50 rounded-2xl border-3"
    :
      "p-6 md:p-10 lg:p-12 border-primary rounded-2xl border-3"
  : "";

const sectionBase = "w-full max-w-screen-2xl mx-auto";
---

<div
  class:list={[containerBase, colorClasses, "animation-group"]}
  data-section-theme={color === "primary" ? "dark" : "light"}
  data-threshold={threshold || "0.1"}
>
  <section id={id} class:list={[sectionBase, borderClass, className]}>
    <slot />
  </section>

  {
    secondChild && (
      <section id={secondId} class:list={[sectionBase, borderClass]}>
        <slot name="secondary" />{" "}
      </section>
    )
  }
</div>
