---
interface Props {
  id: string;
  color?: "primary" | "secondary";
  className?: string;
  border?: boolean;
}

const { id, color = "secondary", className, border = true } = Astro.props;

// Clases base del contenedor exterior
const containerBase =
  "w-full px-6 md:px-8 py-15 md:py-20 flex flex-col gap-16 md:gap-20 lg:gap-25";

// Clases condicionales basadas en el color
const colorClasses =
  color === "primary"
    ? "bg-textured-primary text-white"
    : "bg-secondary text-primary";

const borderClass = border
  ? color === "primary"
    ? "px-6 md:px-15 py-10 lg:py-15 border-secondary rounded-2xl border-3"
    : "px-6 md:px-15 py-10 lg:py-15 border-primary rounded-2xl border-3"
  : "border-0";

const sectionBase = "w-full max-w-screen-2xl mx-auto";
---

<div class:list={[containerBase, colorClasses, className]} data-section-theme={color === 'primary' ? 'dark' : 'light'}>
  <section id={id} class:list={[sectionBase, borderClass, "animation-group", className]}>
    <slot />
  </section>
</div>
