---
import ParagraphInfo from "./ParagraphInfo.astro";

interface Props {
    title: string;
    description: string;
    list?: any;
}

const { title, description, list } = Astro.props;
---

<div class="flex flex-col md:flex-row gap-3 md:gap-6">
    <h3 class="md:min-w-[20%] md:w-[20%] font-bold leading-[160%] text-lg md:text-xl underline">{title}</h3>
    <div class="flex flex-col gap-2">
        <ParagraphInfo text={description} />
        {
            list && (
                <ul class="flex flex-col gap-2 mt-4 list-disc ms-6 sm:ms-10">
                    {list.map((item) => (
                        <li class="text-sm md:text-base" set:html={item} />
                    ))}
                </ul>
            )
        }
    </div>
</div>
