---
import ParagraphInfo from "./ParagraphInfo.astro";

interface Props {
    title: string;
    description: string;
    list?: any;
}

const { title, description, list } = Astro.props;

console.log(list);
---

<div class="flex flex-col md:flex-row gap-3 md:gap-6">
    <h3 class="md:min-w-[25%] md:w-[25%] font-primary text-2xl sm:text-3xl md:text-4xl">{title}</h3>
    <div class="flex flex-col gap-2">
        <ParagraphInfo text={description} />
        {
            list && (
                <ul class="flex flex-col gap-2 mt-2 list-disc ms-6 sm:ms-10">
                    {list.map((item) => (
                        <li class="text-sm md:text-base" set:html={item} />
                    ))}
                </ul>
            )
        }
    </div>
</div>
