---
import IconFigma from "@/icons/IconFigma.astro";
import IconGithub from "@/icons/IconGithub.astro";
import IconDemo from "@/icons/IconDemo.astro";

interface Props {
    url: string,
    text: string,
    icon: string
}

const iconMap = {
    figma: IconFigma,
    github: IconGithub,
    demo: IconDemo,
};

const { url, text, icon} = Astro.props

const IconComponent = iconMap[icon?.toLowerCase()] || IconDemo;
---

<a
    class="link-container pb-[4px] relative flex gap-2 items-center text-primary font-secondary text-bold"
    href={url}
    title=""
    target="_blank"
>
    <IconComponent class="w-6 h-6" />
    {text}
</a>
<style>
    .link-container:before {
        content: "";
        width: 0;
        height: 2px;
        background-color: var(--color-primary);
        position: absolute;
        bottom: 0;
        left: 2rem;
        transition: width 0.3s ease-out;
    }

    .link-container:hover:before {
        width: calc(100% - 2rem);
    }
</style>