---
const { label, index } = Astro.props;
---
<span class="anim-item border text-secondary border-secondary rounded-full px-4 py-1.5 text-xs sm:text-sm font-secondary bg-primary/15" data-delay={400 + index * 200} data-animate="text">
  {label}
</span>